<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
			http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		version="3.0" metadata-complete="true">
	<display-name>jWormhole Server</display-name>

	<!-- jWormhole Server -->
	<servlet>
		<servlet-name>proxy-serlvet</servlet-name>
		<servlet-class>com.bradchen.jwormhole.ProxyServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>proxy-serlvet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
